@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #ffffff;
  font-family: var(--font-opensans);
  outline: none;
}

h1, h2, h3 {
  font-family: var(--font-oswald); /* Use Oswald for headers */
}

@layer base {
  :root {
  
    --font-opensans: sans-serif;
    --font-oswald: sans-serif;
  }
}

@layer utilities{
      .flexJb{
        display: flex;
        justify-content: space-between;
        align-items: center;

      }

      .normalflex{
        display: flex;
        justify-content: center;
        align-items: center;
      }
}

/* Add to your global CSS */
.black { background-color: #000000; }
.white { background-color: #ffffff; }
.red { background-color: #ff0000; }
.blue { background-color: #0000ff; }
.gray { background-color: #808080; }
.green { background-color: #008000; }
.yellow { background-color: #ffff00; }
.silver { background-color: #c0c0c0; }
.gold { background-color: #ffd700; }



/* Style the zoomed image wrapper */
.image-zoom-wrapper {
  position: relative;
  overflow: hidden;
  width: 500px;
  height: 500px; /* Adjust to your desired size */
}

/* Ensure the image scales properly */
.image-zoom {
  width: 100%;
  height: 100%;
  object-fit: contain;  /* Ensures the image fits inside the container without distortion */
}

/* Optional: Optional class for adding hover effects if needed */
.image-zoom-wrapper:hover {
  cursor: zoom-in;  /* Change cursor when hovering over zoomable image */
}
